    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive img-circle" src="img/profile.jpg" alt="">
                    <div class="intro-text">
                        <span class="name">{{ site.heading }}</span>
                        <hr class="star-light">

                        <div class="position">{{ site.position }}</div>
                        <div class="skills">{{ site.skills }}</div>

                        <a href="/files/rich-von-rauchhaupt-resume-may-2016.pdf" class="btn btn-lg btn-outline btn-black">
                            <i class="fa fa-download"></i> Download Resume
                        </a>

                    </div>

                </div>
            </div>
        </div>
    </header>
